.definice {
	border: 1px solid #EDEDED;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 4px;
}
.definice h5 {
	color: #597454;
    background-color: #DEF0D8;
    padding: 0.5rem 1rem;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: large;
    border-radius: 4px 4px 0 0;
}
.definice p {
	padding: 0.5rem 1rem;
    color: black;
}

.veta {
	border: 1px solid #EDEDED;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 4px;
}
.veta h5 {
	color: #3B5E72;
    background-color: #D9EDF6;
    padding: 0.5rem 1rem;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: large;
    border-radius: 4px 4px 0 0;
}
.veta p {
	padding: 0.5rem 1rem;
    color: black;
}

.algoritmus {
	border: 1px solid #EDEDED;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 4px;
}
.algoritmus h5 {
	color: #887A5E;
    background-color: #FDF8E4;
    padding: 0.5rem 1rem;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: large;
    border-radius: 4px 4px 0 0;
}
.algoritmus p {
	padding: 0.5rem 1rem;
    color: black;
}

.lemma {
	border: 1px solid #EDEDED;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 4px;
}
.lemma h5 {
	color: #3B5E72;
    background-color: #D9EDF6;
    padding: 0.5rem 1rem;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: large;
    border-radius: 4px 4px 0 0;
}
.lemma p {
	padding: 0.5rem 1rem;
    color: black;
}

.dusledek {
	border: 1px solid #EDEDED;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 4px;
}
.dusledek h5 {
	color: #3B5E72;
    background-color: #D9EDF6;
    padding: 0.5rem 1rem;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: large;
    border-radius: 4px 4px 0 0;
}
.dusledek p {
	padding: 0.5rem 1rem;
    color: black;
}
